<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin home</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/AdminHome.css"/>

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</head>
<body>
 <a href = "/">
  <div id="logoutButton">
      <input class="btn btn-lg btn-primary btn-block btn-signin" type="button" onclick="logout()" value="logout"></input>
  </div>
 </a>

 <a href = "CreateCourse">
  <div id="createCourseButton">
      <input class="btn btn-lg btn-primary btn-block btn-signin" type="button" onclick="logout()" value="Create new course"></input>
  </div>
 </a>

  <a href = "StudentHome">
  <div id="searchWrapper" style="width: 35rem;">
    <input type="text" class="form-control" id="searchBar" placeholder="Type search query here"></input>
    <!-- <input type="button" class="btn-default" id="searchButton" text="Search"></input> -->
  </div>
  </a>

  <div id="contentWrapper">
    <center><h3>Recently viewed pages:</h3></center>
    <div class="card-deck mx-auto" id="recentlyViewed" style="display: flex; margin-left: auto; margin-right: auto;">
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">MAM1000W, 2017</span>
      </div>

      <a href = "course/{year}/{courseCode}">
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">CSC1015F, 2017</span>
      </div>
      </a>

      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">PHY1031F, 2017</span>
      </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">MAM1000W, 2017</span>
      </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">CSC1015F, 2017</span>
    </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">PHY1031F, 2017</span>
      </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">MAM1000W, 2017</span>
      </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">CSC1015F, 2017</span>
    </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">PHY1031F, 2017</span>
      </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">MAM1000W, 2017</span>
      </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">CSC1015F, 2017</span>
    </div>
      <div class="card courseButton " style="flex: 0 0 12rem;">
        <span class="card-body">PHY1031F, 2017</span>
      </div>

    </div>
</div>

</body>
</html>
