<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">

    <title>Create course</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/CreateCourse.css"/>
    <link rel="stylesheet" href="/css/AdminHome.css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {


        $('#submitButton').click(function(){
          var year = $("#Year").val();
          var courseCode = $("#CourseCode").val();
          $.ajax({
            url: '/api/create/'+ year + "/" + courseCode,
            type: 'POST',
            data: new FormData($('#pplsoftFileForm')[0]),

            // Tell jQuery not to process data or worry about content-type
            // You *must* include these options!
            cache: false,
            contentType: false,
            processData: false,
          }).done(function(response) {
            if (response == "success") {
              console.log("succ");
              window.location = window.location.origin + "/course/" + year + "/" + courseCode;
            } else {
              $("#courseAlreadyExistsMsg").stop();
              $("#courseAlreadyExistsMsg").show();
              $("#courseAlreadyExistsMsg").delay(969).fadeOut(420);
              console.log("fail");
            }
          });
        });
      });
    </script>

</head>
<body>

    <a href = "/">
     <div id="logoutButton">
         <input class="btn btn-lg btn-primary btn-block btn-signin" type="button" onclick="logout()" value="Logout"></input>
     </div>
    </a>

    <div class = "container">
      <div class="card card-container">
            <form class="form-signin">

                <input type="CourseCode" id="CourseCode" class="form-control" style="margin-top: 0.4rem; margin-bottom: 0.4rem" placeholder="E.g. CSC2002F"></input>
                <input type="Year" id="Year" class="form-control" style="margin-top: 0.4rem; margin-bottom: 0.4rem" placeholder="e.g. 2017"></input>
                <input id="submitButton" class="btn btn-lg btn-primary btn-block btn-signin" type="button" value="Add course"></input>
                <center><div><span id="courseAlreadyExistsMsg" style="color: #cc0000; display: none;">That already exists.</span></div></center>

            </form>
        </div>
    </div>
</body>
</html>
