<!DOCTYPE html>
<html>
<head>

    <title>Student home</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/AdminHome.css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!--script src="/js/bootstrap.js"></script-->
    <script src="/js/FilterTable.js"></script>

</head>

<body>

  <a href = "/">
    <div id="logoutButton">
      <input class="btn btn-lg btn-primary btn-block btn-signin" type="button" onclick="logout()" value="logout"></input>
    </div>
  </a>

  <div id="contentWrapper">
    <h1>
      <span th:text="${username}">mocking text</span>
      <p th:text="${username}">Test</p>
    </h1>

    <h1>2017</h1>
    <div class="container">
      <div class="card-deck">
        <table>              <!-- TODO: The formatting of this thing is way of, but this doesn't display the course info of the student -->
          <tr th:each="course : ${subnmarks}">
            <td th:text="${course.key}">keyvalue</td><!-- TODO: link from the name of the course to the appropriate course page -->
            <td>
              <table>
                <td th:each="ass : ${course.value}">
                  <table>
                    <tr><td th:text="${ass.getName()}">Some name</td></tr>
                    <tr><td th:text="${ass.getStudentMark(username)}">Some name</td></tr> 
                  </table>
                </td>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
