<!DOCTYPE html>
<html>
<head>

    <title>Student home</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/AdminHome.css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!--script src="/js/bootstrap.js"></script-->
    <script src="/js/FilterTable.js"></script>

</head>

<body>

    <a href = "/">
     <div id="logoutButton">
         <input class="btn btn-lg btn-primary btn-block btn-signin" type="button" onclick="logout()" value="logout"></input>
     </div>
    </a>

    <center><hd>
    <title th:text="${username}">mocking text</title>
    <p th:text="${username}">Test</p>
    </hd></center>

    <center><h1>2017</h1></center>



    <!--1table>
      <tr>
        <th>courseCode</th>
        <th>Assessment</th>
        <th>Mark</th>
      </tr>
      <tr th:each="o : ${subnmarks}" >        <!-- <td th:foreach blablablabla>     XXXX    </td> >

        <td th:text="${o}"> Course Code</td>
        <td th:text="${o}">ass</td>
        <td th:text="${o}">mark</td>
        <!--td>
          <a href="details.html" th:href="@{/order/details(orderId=${o.id})}">view</a>
      </td>>
  </tr>
    </table>
    <table>
        <tr th:each="element : ${subnmarks}">

            <td th:text="${element.key}">keyvalue</td>
            <table>
                <tr th:each="anews : ${element.value}">
                    <td th:text="${anews}">Some name</td>

                </tr>
            </table>
        </tr>
    </table-->

<div class="container">
    <div class="card-deck">
        <!--table>              <!-- TODO: The formatting of this thing is way of, but this doesn't display the course info of the student>
            <tr th:each="element : ${subnmarks}">
                  <div class="card">
                    <div class="card-block">
                    <td th:text="${element.key}">keyvalue</td>
                        <table>
                            <tr th:each="anews : ${element.value}">
                                <td th:text="${anews}">Some name</td>
                            </tr>
                        </table>

                    </div>
                  </div>
            </tr>
        </table>
    </div-->
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">CSC3002F</h4>
        <p class="card-text">Passed: Yes</p>
        <p class="card-text">Final mark: 76</p>
        <p class="card-text">DP: Yes</p>
        <p class="card-text"><small class="text-muted">Reveal more</small></p>
      </div>
    </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">CSC3002F</h4>
      <p class="card-text">Passed: Yes</p>
      <p class="card-text">Final mark: 76</p>
      <p class="card-text">DP: Yes</p>
      <p class="card-text"><small class="text-muted">Reveal more</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">CSC3001H</h4>
      <p class="card-text">Passed: Yes</p>
      <p class="card-text">Final mark: 65</p>
      <p class="card-text">DP: Yes</p>

      <p class="card-text"><small class="text-muted">Reveal more</small></p>
    </div>
  </div>
</div>


<center><h1>2016</h1></center>
<div class="card-deck">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">CSC2003S</h4>
      <p class="card-text">Passed: Yes</p>
      <p class="card-text">Final: 75</p>
      <p class="card-text">DP: Yes</p>

      <p class="card-text"><small class="text-muted">Reveal more</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">CSC2004S</h4>
      <p class="card-text">Passed: Yes</p>
      <p class="card-text">Final: 87</p>
      <p class="card-text">DP: Yes</p>

      <p class="card-text"><small class="text-muted">Reveal more</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">CSC2001F</h4>
      <p class="card-text">Passed: Yes</p>
      <p class="card-text">Final: 76</p>
      <p class="card-text">DP: Yes</p>

      <p class="card-text"><small class="text-muted">Reveal more</small></p>
    </div>
</div>
</div>
</div>
</body>
</html>
