
<!DOCTYPE html>
<html>
<head>

    <title>Student home</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/AdminHome.css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!--script src="/js/bootstrap.js"></script-->
    <script src="/js/FilterTable.js"></script>
  <script src="/js/common.js"></script>

</head>

<body>
  <div id="topRightContainer">
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" onclick="logout()">Logout</input>
  </div>

  <div id="contentWrapper">
    <h1>
      <span th:text="${username}">mocking text</span>
    </h1>

    <h1>2017</h1>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th th:each="ass : ${assessments}" th:text="${ass.getName()}"></th>
          </tr>
        </thead>
        <tbody>
          <td th:each="ass : ${assessments}" th:text="${ass.getUncappedStudentMark(student)} +'/' + ${ass.getMarkCap()}"></td>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
